## Example Notebook for Spark Connect Usage

### Steps to Follow:

1. **Install Python Dependencies:** Ensure that all Python dependencies listed in the `requirements.txt` file are installed. For detailed installation instructions, refer to the `README.md` file.

2. **Configure Spark Connect:** Obtain the connection details for the remote Spark Connect Clusters from the IOMETE console. Then, incorporate these details into the Spark builder configuration in this notebook.

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from datetime import datetime, date

spark = SparkSession.builder.remote("sc://...").getOrCreate()

### Example dataframe operations

In [7]:
df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 11:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 11:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 11:00:00|
+---+---+-------+----------+-------------------+

### Query tables from the remote cluster

In [8]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default|  ANOMALY|      false|
|  default|employees|      false|
+---------+---------+-----------+

In [9]:
spark.sql("select * from default.employees limit 10").show()

+------+----------+----------+---------+------+----------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|
+------+----------+----------+---------+------+----------+
| 10001|1953-09-02|    Georgi|  Facello|     M|1986-06-26|
| 10002|1964-06-02|   Bezalel|   Simmel|     F|1985-11-21|
| 10003|1959-12-03|     Parto|  Bamford|     M|1986-08-28|
| 10004|1954-05-01| Chirstian|  Koblick|     M|1986-12-01|
| 10005|1955-01-21|   Kyoichi| Maliniak|     M|1989-09-12|
| 10006|1953-04-20|    Anneke|  Preusig|     F|1989-06-02|
| 10007|1957-05-23|   Tzvetan|Zielinski|     F|1989-02-10|
| 10008|1958-02-19|    Saniya| Kalloufi|     M|1994-09-15|
| 10009|1952-04-19|    Sumant|     Peac|     F|1985-02-18|
| 10010|1963-06-01| Duangkaew| Piveteau|     F|1989-08-24|
+------+----------+----------+---------+------+----------+